<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{user.first_name}}s startpage</title>
  </head>
  <body>
    <h2>{{user.first_name}}s startpage</h2>
    <form action="/create/" method="post">
      {% csrf_token %}
      <input type="text" name="content" />
      <button type="submit">Create note</button>
    </form>
    <form action="/notes/{{user.first_name}}" method="GET">
      <button type="submit">View notes</button>
    </form>
  </body>
</html>
